---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Jade Philippe"
  description="About Jade"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="About">
      </Hero>
      <section>
        <div class="section-title">Profile</div>
        <div class="content">
          <p>
            I'm a full-stack software engineer with experience working on Ruby on Rails
            projects from conception to production.
            I'm a continuous learner adaptable to independent or team environments, 
            with experience mentoring junior peers. 
            I regularly contribute to open-source projects through Ruby for Good.
          </p>
        </div>
      </section>
      <section>
        <div class="section-title">Education</div>
        <div class="content">
          <p>Full-Stack Ruby on Rails Curriculum - <a href="https://www.theodinproject.com/">The Odin Project</a></p>
          <p>Bachelor of Engineering - Carleton University, Ottawa, Canada</p>
        </div>
      </section>
    </main>

  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
